.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination .active {
  background-color: #30a1a58a;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
