.heart{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  
  svg{
    align-self: center;
  }
  
  .no-love{
    fill:none;
    stroke: rgb(160, 154, 154);
    stroke-width: 2px;
  }
  
  .love {
    fill: #e2727c;
    opacity: 0.9;
    stroke: gray;
    stroke-width: 1px;
    cursor: pointer;
    &:hover{
      opacity: 1;
      stroke-width: 0;
      transform: scale(1.1);
    }
    transition: all 0.4s;
  }

  