.search-panel{
    transform: translate(0%, -50%);
    background: darkcyan;
    height: 35px;
    border-radius: 35px;
    padding: 5px;
}

.search-panel:hover > .search-field{
    width: 290px;
    padding: 0 10px;
    color: wheat;
}
.search-panel:hover > .button_search{
   background: white ;
}