.page_not-found {
  background-image: url("../../../public/Na_June_67.jpg");
  height: 100vh;
  margin-top: -5vw;
  width: 105vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
